@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Manrope:wght@200..800&display=swap');

@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./application.css');


:root {
    --main-color-1: rgba(0, 120, 68, 1);
    --main-color-2: rgba(0, 71, 40, 1);
    --main-color-3: rgba(120, 216, 100, 1);

    --background-color-1: rgba(0, 120, 68, 1);
    --background-color-2: rgb(255, 255, 255);
    --background-color-3: rgba(245, 248, 245, 1);
    --background-color-4: rgba(225, 240, 225, 1);

    --text-color-1: rgba(0, 71, 40, 1);
    --text-color-2: rgba(0, 120, 68, 1);
    --text-color-3: rgba(207, 207, 207, 1);
    --text-color-4: rgba(61, 91, 78, 1);
    
    --stroke-color-1: rgba(0, 71, 40, 1);
    --stroke-color-2: rgba(255, 255, 255, 1);
    --stroke-color-3: rgba(61, 91, 78, 1);

    --text-xs: clamp(0.625rem, 1vw, 0.75rem);      /* 10-12px */
    --text-sm: clamp(0.75rem, 1vw, 0.875rem);      /* 12-14px */
    --text-base: clamp(0.875rem, 1vw, 1rem);       /* 14-16px */
    --text-lg: clamp(1rem, 1vw, 1.125rem);         /* 16-18px */
    --text-xl: clamp(1.125rem, 1.5vw, 1.25rem);    /* 18-20px */
    --text-2xl: clamp(1.25rem, 2vw, 1.5rem);       /* 20-24px */
    --text-3xl: clamp(1.5rem, 2.5vw, 1.875rem);    /* 24-30px */
    --text-4xl: clamp(1.75rem, 3vw, 2.25rem);      /* 28-36px */
    --text-5xl: clamp(2rem, 3.5vw, 2.5rem);        /* 32-40px */
    --text-6xl: clamp(2.5rem, 4vw, 3.25rem);        /* 40-52px */

    --icon-xs: clamp(14px, 2vw, 16px);
    --icon-sm: clamp(18px, 2.5vw, 20px);
    --icon-md: clamp(20px, 3vw, 24px);
    --icon-lg: clamp(28px, 4vw, 32px);
    --icon-xl: clamp(32px, 5vw, 40px);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope";
}

.wrap {
    max-width: 1920px;
    width: calc(100% - 200px); 
    margin: 0 auto;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    cursor: pointer;
}
p{
    color: var(--text-color-4);
}
h1{
    font-size: 70px;
    line-height: 110%;
    max-width: 1020px;
    color: var(--stroke-color-1);
    margin-bottom: 46px;
}
h1 span{
    color: var(--main-color-3);
}
h2{
    font-size: var(--text-6xl);
    line-height: 110%;
}
.button-v1{
    background: rgba(225, 240, 225, 1);
    color: var(--text-color-1);
    font-weight: 600;
    border: none;
}
.button-v2{
    background: var(--background-color-1);
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    border: none;
}
.button-v3{
    background: rgba(255, 255, 255, 1);
    color: var(--text-color-2);
    font-weight: 600;
    border: none;
    border-radius: 16px;
}