.questions__content{
    padding: 100px 0;
    text-align: center;
}
.questions__content h2{
    color: var(--text-color-1);
    margin-bottom: 70px;
}

.questions__faq-grup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 13px 13px 32px;
    background: var(--background-color-3);
    border-radius: 16px;
    font-size: var(--text-xl);
    margin-bottom: 16px;
}
.questions__faq-grup p{
    color: var(--text-color-1);
}
.questions__faq-grup img{
    cursor: pointer;
    padding: 20px;
    background: rgba(229, 236, 229, 1);
    border-radius: 10px;
}